/* General */
* {
  box-sizing: border-box;
}

:root {
  --primary: #1a1d29;
  --secondary: #72c0e6;
  --secondary-dark: #312a2c;
  --primary-light: #212121;
  --light: #e7e7e7;
  --primary-light-2: #888888;
  --purple-light-1: #fbfafb;
  --purple-light-2: #eeeaf2;
  --purple-medium-1: #aa83c8;
  --purple-medium-2: #8b48bf;
  --purple-medium-3: #5c218a;
  --purple-dark-1: #3e0f64;
  --purple-dark-2: #2a0646;

  --yellow: #eecc75;
  --green: #cad297;
  --aqua: #b7eac5;
  --lightBlue: #a2eee5;
  --darkBlue: #8ea2ea;
  --red: #f09d9d;

  --font-family-titles: "Dosis", sans-serif;
  --font-family-maintitle: "Climate Crisis", cursive;
  --font-family-text: "Red Hat Display", sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;
}

html {
  overscroll-behavior-x: none;
  background-color: var(--primary);
}

body {
  overscroll-behavior-x: none;
  background-color: var(--primary);
  color: var(--light);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 16px;
  margin: 4px 0 0 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 24px;
  color: var(--secondary);
  font-family: var(--font-family-maintitle);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 20px;
  color: var(--light);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-title2);
  text-shadow: 5px 5px 15px #040507;
}

h3 {
  color: var(--light);
  font-weight: var(--font-weight-text2);
  font-size: 16px;
}

input {
  background-color: var(--secondary-dark);
  color: var(--light);
  border: none;
  font-size: 18px;
  padding-left: 16px;
}

input::placeholder {
  color: var(--primary-light-2);
  font-family: var(--font-family-text);
}

button {
  background-color: var(--secondary-dark);
  border: none;
  color: var(--primary-light-2);
  font-weight: var(--font-weight-text2);
  font-size: 14px;
  cursor: pointer;
}

/* Shared */
.header-container,
.genericPreview-header,
.categoriesTop-container,
.categoriesPreview-container,
.liked-header {
  padding: 0 24px;
}

.genericPreview-container,
.categoriesTop-container,
footer,
.liked-container {
  margin-top: 10px;
}

.genericPreview-header,
.categoriesTop-title,
.categoriesPreview-title,
.liked-header {
  margin-bottom: 16px;
}

.movie-container,
.movie-container__wider {
  position: relative;
  cursor: pointer;
}

.movie-container--loading {
  background: var(--primary-light);
  border-radius: 8px;
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  margin-bottom: 15px;
  animation: loading-skeleton infinite 1.5s;
}
.movie-container--loading:nth-child(2) {
  animation-delay: 0.2s;
}
.movie-container--loading:nth-child(3) {
  animation-delay: 0.4s;
}

.movie-container__wider--loading {
  background: var(--primary-light);
  border-radius: 8px;
  height: 290px;
  min-height: 290px;
  max-height: 290px;
  width: 80%;
  min-width: 80%;
  max-width: 80%;
  margin-bottom: 15px;
  animation: loading-skeleton infinite 1.5s;
}
.movie-container__wider--loading:nth-child(2) {
  animation-delay: 0.2s;
}
.movie-container__wider--loading:nth-child(3) {
  animation-delay: 0.4s;
}

.movie-img {
  border-radius: 8px;
  min-height: 175px;
}

.movie-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.movie-btn::before {
  content: "🤍";
}

.movie-btn--liked {
  background-color: var(--purple-light-2);
  box-shadow: 0px 0px 10px 2px var(--purple-dark-1);
}
.movie-btn--liked::before {
  content: "💜";
}

.categoriesTop-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.categoriesPreview-list {
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.categories-list,
.categoriesTop-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

.categoryTop-container--loading {
  background: var(--primary-light);
  border-radius: 15px;
  height: 130px;
  min-height: 130px;
  max-height: 130px;
  width: 210px;
  min-width: 210px;
  max-width: 210px;
  margin-bottom: 15px;
  animation: loading-skeleton infinite 1.5s;
}
.categoryTop-container--loading:nth-child(2) {
  animation-delay: 0.2s;
}
.categoryTop-container--loading:nth-child(3) {
  animation-delay: 0.2s;
}
.categoryTop-container--loading:nth-child(4) {
  animation-delay: 0.2s;
}
.categoryTop-container--loading:nth-child(5) {
  animation-delay: 0.2s;
}
.categoryTop-container--loading:nth-child(6) {
  animation-delay: 0.2s;
}

.category-container--loading {
  background: var(--primary-light);
  border-radius: 15px;
  height: 20px;
  min-height: 20px;
  max-height: 20px;
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  margin-bottom: 15px;
  animation: loading-skeleton infinite 1.5s;
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding-top: 15px;
  padding-bottom: 15px;
  backdrop-filter: blur(40px);
  background-image: linear-gradient(
    to bottom,
    #040507,
    #06070bd5,
    #080a0faa,
    #0b0c1164,
    #0d0e1400
  );
}

.header-container--long {
  background-image: url("https://pics.filmaffinity.com/Deadpool-777527803-large.jpg");
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.35) 19.27%,
      rgba(0, 0, 0, 0) 29.17%
    ),
    url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg);
  background-size: cover !important;
  height: 480px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container--categoryView {
  background: linear-gradient(
    180deg,
    rgba(238, 204, 117, 0.5) 0%,
    rgba(238, 204, 117, 0) 72.92%
  );
}

.header-title {
  padding-top: 10px;
}

.header-navbar {
  display: flex;
  width: 50%;
  justify-content: space-between;
  list-style: none;
}

/* .header-arrow {
  font-weight: var(--font-weight-text2);
  font-size: 36px;
  margin-bottom: 16px;
  cursor: pointer;
  display: inline-block;
}
.header-arrow--white {
  color: var(--purple-light-1);
} */

.header-searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.header-searchForm input {
  height: 48px;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.header-searchForm button {
  width: 56px;
  height: 48px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Latest */
.latestPreview-container {
  height: 60vh;
  background-color: var(--primary);
}

.latestPreview-movieList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 100%;
  padding-left: 24px;
  padding-bottom: 5px;
  padding-top: 90px;
}

.latestPreview-movieList::-webkit-scrollbar {
  display: none;
}

.latestPreview-movieList .movie-container__wider {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  background: #0d0e14;
  border-radius: 8px;
  height: 93%;
  width: 80%;
  overflow: hidden;
  box-shadow: 10px 10px 28px #040507;
}

.latestPreview-movieList .movie-container__wider div:nth-child(2) {
  position: absolute;
  right: 0;
  height: 100%;
  width: 70%;
  background-color: transparent;
  box-shadow: inset 100px -100px 50px #0d0e14;
}

.latestPreview-movieList .movie-container__wider .movie-img {
  position: absolute;
  right: 0;
  height: 100%;
  width: 70%;
  object-fit: cover;
}

/* Trending */
.genericPreview-header,
.liked-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.genericPreview-btn {
  border-radius: 8px;
  height: 32px;
  width: 72px;
}

.genericPreview-movieList,
.liked-movieList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 260px;
  padding-left: 24px;
  padding-bottom: 25px;
}

.genericPreview-movieList::-webkit-scrollbar,
.liked-movieList::-webkit-scrollbar {
  display: none;
}

.genericPreview-movieList .movie-container,
.liked-movieList .movie-container {
  display: inline-block;
  margin-right: 20px;
  box-shadow: 5px 10px 20px #040507;
  height: 225px;
  border-radius: 8px;
}

.genericPreview-movieList .movie-container .movie-img,
.liked-movieList .movie-container .movie-img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

/* Categories Top */
.categoryTop-container {
  background: var(--primary-light);
  border-radius: 15px;
  height: 130px;
  min-height: 130px;
  max-height: 130px;
  width: 210px;
  min-width: 210px;
  max-width: 210px;
  margin-bottom: 15px;
}

.categoryTop-title {
  margin-bottom: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Categories */
.categoriesPreview-container {
  margin-top: 90px;
}

.category-container {
  border-radius: 15px;
  background-color: var(--primary-light);
  margin-right: 20px;
  padding: 3px 20px;
}

.category-title {
  margin-bottom: 2px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Generic List (search, trending & category) */
.genericList-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 32px 24px;
}

.genericList-container .movie-container {
  display: inline-block;
  width: 47.5%;
  max-width: 150px;
  margin-bottom: 40px;
}

.genericList-container .movie-img {
  width: 100%;
}

/* Movie Detail */
.movieDetail-container {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 32px 24px;
  margin-top: 403px;
  z-index: 1;
  position: absolute;
  background-color: var(--purple-light-1);
}

.movieDetail-title {
  display: inline-block;
  width: 80%;
  margin: 0 0 16px 0;
  padding: 0;
}

.movieDetail-score {
  display: inline-block;
  text-align: right;
  width: 18%;
  font-weight: var(--font-weight-title2);
}
.movieDetail-score::before {
  content: "★";
  color: var(--yellow);
  padding-right: 4px;
}

.movieDetail-description {
  margin: 0 0 24px 0;
}

.relatedMovies-container {
  margin-top: 24px;
  height: 216px;
}

.relatedMovies-title {
  margin-bottom: 16px;
}

.relatedMovies-scrollContainer {
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(100vw - 24px);
  padding-bottom: 16px;
}

.relatedMovies-scrollContainer .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.relatedMovies-scrollContainer .movie-img {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}

/* Footer */
footer {
  background-color: var(--primary);
  color: var(--light);
  text-align: center;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigation */
.inactive {
  display: none;
}

/* Animations */
@keyframes loading-skeleton {
  0%,
  100% {
    opacity: 100%;
  }
  50% {
    opacity: 20%;
  }
}
