/* General */
* {
  box-sizing: border-box;
}

:root {
  --primary: #1a1d29;
  --secondary: #72c0e6;
  --another-dark: #37728f;
  --secondary-dark: #252837;
  --primary-light: #3c4772;
  --light: #e7e7e7;
  --primary-light-2: #888888;
  --purple-light-1: #fbfafb;
  --purple-light-2: #eeeaf2;
  --purple-medium-1: #aa83c8;
  --purple-medium-2: #8b48bf;
  --purple-medium-3: #5c218a;
  --purple-dark-1: #3e0f64;
  --purple-dark-2: #2a0646;

  --yellow: #eecc75;
  --green: #cad297;
  --aqua: #b7eac5;
  --lightBlue: #a2eee5;
  --darkBlue: #8ea2ea;
  --red: #f09d9d;

  --font-family-titles: "Dosis", sans-serif;
  --font-family-maintitle: "Climate Crisis", cursive;
  --font-family-text: "Red Hat Display", sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;
}

html {
  overscroll-behavior-x: none;
  background-color: var(--primary);
}

body {
  overscroll-behavior-x: none;
  background-color: var(--primary);
  color: var(--light);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 16px;
  margin: 4px 0 0 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 24px;
  font-family: var(--font-family-maintitle);
  margin: 0;
  padding: 0;
}

h1 a {
  color: var(--secondary);
}

h1 a:hover {
  color: var(--secondary);
}

h2 {
  font-size: 20px;
  color: var(--light);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-title2);
  text-shadow: 5px 5px 15px #040507;
}

h3 {
  color: var(--light);
  font-weight: var(--font-weight-text2);
  font-size: 16px;
}

input {
  background-color: var(--secondary-dark);
  color: var(--light);
  border: none;
  font-size: 18px;
  padding-left: 16px;
}

input::placeholder {
  color: var(--primary-light-2);
  font-family: var(--font-family-text);
}

button {
  background-color: var(--secondary-dark);
  border: none;
  color: var(--primary-light-2);
  font-weight: var(--font-weight-text2);
  font-size: 14px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--light);
}

a:hover {
  text-decoration: none;
  color: var(--primary-light-2);
}

/* Shared */
.header-container,
.genericPreview-header,
.categoriesPreview-container,
.liked-header {
  padding: 0 24px;
}

.genericPreview-container,
.categoriesTop-container,
footer,
.liked-container {
  margin-top: 10px;
}

.genericPreview-header,
.categoriesTop-title,
.categoriesPreview-title,
.liked-header {
  margin-bottom: 16px;
}

.movie-container,
.movie-container__wider {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.movie-container--loading {
  background: var(--primary-light);
  border-radius: 8px;
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  margin-bottom: 15px;
  animation: loading-skeleton infinite 1.5s;
}
.movie-container--loading:nth-child(2) {
  animation-delay: 0.2s;
}
.movie-container--loading:nth-child(3) {
  animation-delay: 0.4s;
}

.movie-container__wider--loading {
  background: var(--primary-light);
  border-radius: 8px;
  height: 290px;
  min-height: 290px;
  max-height: 290px;
  width: 80%;
  min-width: 80%;
  max-width: 80%;
  margin-bottom: 15px;
  animation: loading-skeleton infinite 1.5s;
}
.movie-container__wider--loading:nth-child(2) {
  animation-delay: 0.2s;
}
.movie-container__wider--loading:nth-child(3) {
  animation-delay: 0.4s;
}

.movie-img {
  border-radius: 8px;
  min-height: 175px;
}

.movie-foreground {
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
  background-image: linear-gradient(
    to bottom,
    #1a1d2900,
    #1a1d29c5,
    #1a1d29d3,
    #1a1d29,
    #1a1d29
  );
  justify-content: flex-end;
  padding-bottom: 10px;
}

.movie-foreground p:nth-child(1) {
  font-weight: bold;
  width: 100%;
  white-space: pre-wrap;
  padding-inline: 10%;
  margin-bottom: 0;
}
.movie-foreground div {
  display: flex;
  height: 50px;
  align-items: center;
  margin-inline: 15px;
  margin-bottom: 10px;
}
.movie-foreground p:nth-child(2) {
  color: var(--primary-light-2);
  width: 100%;
  padding-inline: 10%;
}
.movie-star {
  height: 16px;
  width: 16px;
}

.movie-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  opacity: 70%;
}

/* .movie-btn::before {
  content: "🤍";
} */
.movie-btn img {
  width: 23px;
  height: 23px;
  margin-top: 4px;
  content: url("../assets/heart.svg");
}

.movie-btn--liked {
  background-color: var(--primary-light);
  opacity: 100%;
  box-shadow: 0px 0px 10px 2px var(--secondary);
}
.movie-btn--liked img {
  width: 23px;
  height: 23px;
  margin-top: 4px;
  content: url("../assets/heart-checked.svg");
}

.categoriesTop-list {
  display: flex;
  margin: 0 24px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.categoriesPreview-list {
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 50px;
}
.categoriesPreview-list::-webkit-scrollbar {
  display: none;
}

.categories-list,
.categoriesTop-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

.categoryTop-container--loading {
  background: var(--primary-light);
  border-radius: 15px;
  height: 130px;
  min-height: 130px;
  max-height: 130px;
  width: 210px;
  min-width: 210px;
  max-width: 210px;
  margin-bottom: 15px;
  animation: loading-skeleton infinite 1.5s;
}
.categoryTop-container--loading:nth-child(2) {
  animation-delay: 0.2s;
}
.categoryTop-container--loading:nth-child(3) {
  animation-delay: 0.2s;
}
.categoryTop-container--loading:nth-child(4) {
  animation-delay: 0.2s;
}
.categoryTop-container--loading:nth-child(5) {
  animation-delay: 0.2s;
}
.categoryTop-container--loading:nth-child(6) {
  animation-delay: 0.2s;
}

.category-container--loading {
  background: var(--primary-light);
  border-radius: 15px;
  height: 20px;
  min-height: 20px;
  max-height: 20px;
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  margin-bottom: 15px;
  animation: loading-skeleton infinite 1.5s;
}

/* Header */
.header-burger {
  padding-top: 8px;
  background: transparent;
  display: none;
}
.header-burger img {
  height: 35px;
  width: 35px;
}
.header-container {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  z-index: 50;
  padding-top: 15px;
  padding-bottom: 15px;
  backdrop-filter: blur(40px);
  background-image: linear-gradient(
    to bottom,
    #040507,
    #06070bd5,
    #080a0faa,
    #0b0c1164,
    #0d0e1400
  );
}

.header-container--long {
  background-image: url("https://pics.filmaffinity.com/Deadpool-777527803-large.jpg");
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.35) 19.27%,
      rgba(0, 0, 0, 0) 29.17%
    ),
    url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg);
  background-size: cover !important;
  height: 480px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container--categoryView {
  background: linear-gradient(
    180deg,
    rgba(238, 204, 117, 0.5) 0%,
    rgba(238, 204, 117, 0) 72.92%
  );
}

.header-title {
  padding-top: 10px;
  transition: 0.3s;
}

.header-title:hover {
  transform: scale(1.05);
}

.header-navbar {
  display: flex;
  width: 50%;
  justify-content: space-between;
  list-style: none;
  margin-inline: 5%;
}

/* .header-navbar li:hover {
  display: block;
  border-bottom: solid 2px var(--light);
  height: 40px;
} */

.header-navbar li {
  position: relative;
}

.header-navbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -30px;
  left: 0;
  background-color: var(--light);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header-navbar li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* .header-arrow {
  font-weight: var(--font-weight-text2);
  font-size: 36px;
  margin-bottom: 16px;
  cursor: pointer;
  display: inline-block;
}
.header-arrow--white {
  color: var(--purple-light-1);
} */

.header-searchForm {
  width: 20%;
  display: flex;
  align-items: center;
  height: 45px;
  border-radius: 18px;
  justify-content: center;
  margin-top: 4px;
  flex-wrap: nowrap;
  background-color: #25283780;
  border: 1px solid transparent;
  transition: 0.3s;
}

.header-searchForm input {
  height: 45px;
  width: 100%;
  background-color: transparent;
}

.header-searchForm:hover {
  width: 22%;
}

.header-searchForm:focus-within {
  background-color: var(--secondary-dark);
  border: 1px solid var(--secondary);
  width: 22%;
}
.header-searchForm input:focus {
  outline: none;
}

.header-searchForm button {
  width: 56px;
  height: 45px;
  background-color: transparent;
  transition: 0.3s;
}
.header-searchForm button:hover {
  transform: scale(1.2);
}

.header-searchForm #searchBtn img {
  height: 20px;
  width: 20px;
  display: block;
}

.header-searchForm #openSearchBtn {
  display: none;
}

.header-searchForm #openSearchBtn img {
  height: 20px;
  width: 20px;
}

/* Aside menu */
.aside-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  backdrop-filter: blur(10px);
  z-index: 55;
  display: none;
}
.aside-background--show {
  display: none;
}
.aside-menu {
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  display: none;
  grid-template-rows: 1fr 3fr 1fr 4fr;
  position: fixed;
  width: 70vw;
  top: 0;
  bottom: 0;
  background-color: #1a1d299c;
  backdrop-filter: blur(20px);
  z-index: 60;
  transition: 0.4s;
}
.aside-back-icon {
  background: transparent;
  position: absolute;
  top: 23px;
  right: 30px;
}
.aside-back-icon img {
  height: 35px;
  width: 35px;
}
.aside-menu--hidden {
  transform: translateX(-120vw);
}
.aside-title {
  padding-right: 60px;
  justify-self: center;
  align-self: center;
}
.aside-navbar {
  padding-top: 50px;
}
.aside-navbar li {
  display: block;
  list-style: none;
  margin-bottom: 50px;
  margin-left: 15%;
}

.aside_social-media {
  justify-self: left;
  padding-left: 50px;
}

.aside_social-media .icon {
  position: relative;
  background-color: var(--secondary);
  border-radius: 30%;
  margin: 6px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 22px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}

/* Main Title*/
.seccion-title {
  padding-top: 80px;
  padding-left: 80px;
}

/* Latest */
.latestPreview-container {
  position: relative;
  width: 100vw;
  height: 60vh;
  background-color: var(--primary);
  overflow: hidden;
}

.latestPreview-movieList {
  position: absolute;
  left: -175%;
  width: 270%;
  display: flex;
  height: 100%;
  padding-left: 24px;
  padding-bottom: 5px;
  padding-top: 90px;
  overflow: hidden;
  animation: slide 16s infinite;
}

.latestPreview-movieList .movie-container__wider {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  background: #0d0e14;
  border-radius: 8px;
  height: 93%;
  width: 70%;
  box-shadow: 10px 10px 28px #040507;
  padding: 80px 90px;

  transition-duration: 400ms;
}

.latestPreview-movieList .movie-container__wider:hover {
  transform: scale(1.03);
}

.latestPreview-movieList .movie-container__wider .movie-shadow__wider {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
  background-color: transparent;
  box-shadow: inset 100px -100px 50px #0d0e14;
}

.latestPreview-movieList .movie-container__wider .movie-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
  object-fit: cover;
}
.latestPreview-movieList .movie-container__wider .movie-details__wider {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 20px;
  width: 50%;
  height: 50%;
}
.latestPreview-movieList .movie-container__wider h3 {
  font-size: 40px;
  font-weight: 700;
}
.latestPreview-movieList .movie-container__wider .movie-details-info__wider {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.latestPreview-movieList .movie-details-info__wider div {
  display: flex;
  width: 180px;
  align-items: center;
}

.latestPreview-movieList .movie-container__wider p {
  color: var(--primary-light-2);
  font-size: 20px;
  margin: 0;
  margin-left: 15px;
}

.latestPreview-movieList .movie-container__wider .movie-btn_more {
  width: 130px;
  height: 40px;
  background: transparent;
  border-radius: 8px;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  font-size: 20px;
  transition: 0.4s;

  margin-left: 20px;
}
.latestPreview-movieList .movie-container__wider .movie-btn_more:hover {
  width: 135px;
  background: var(--secondary);
  border-radius: 8px;
  border: 1px solid var(--secondary);
  color: var(--primary);
  font-size: 20px;
}

/* Trending */
.genericPreview-header,
.liked-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.genericPreview-btn {
  border-radius: 8px;
  height: 32px;
  width: 72px;
  transition: 0.3s;
}

.genericPreview-btn:hover {
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.genericPreview-movieList,
.liked-movieList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 300px;
  padding-left: 24px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.genericPreview-movieList::-webkit-scrollbar,
.liked-movieList::-webkit-scrollbar {
  display: none;
}

.genericPreview-movieList .movie-container,
.liked-movieList .movie-container {
  display: inline-block;
  margin-right: 20px;
  box-shadow: 5px 10px 20px #040507;
  height: 225px;
  border-radius: 8px;
  transition: 0.4s;
}

.genericList-container .movie-container:hover,
.genericPreview-movieList .movie-container:hover,
.liked-movieList .movie-container:hover {
  transform: scale(1.15);
}

.genericList-container .movie-container:hover .movie-foreground,
.genericPreview-movieList .movie-container:hover .movie-foreground,
.liked-movieList .movie-container:hover .movie-foreground {
  animation: 1s movieData-opacity ease-in-out;
  animation-fill-mode: forwards;
}

.genericList-container .movie-container:hover .movie-img,
.genericPreview-movieList .movie-container .movie-img,
.liked-movieList .movie-container .movie-img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

/* Categories Top */
.categoryTop-container {
  background: var(--primary-light);
  border-radius: 15px;
  height: 130px;
  min-height: 130px;
  max-height: 130px;
  width: 210px;
  min-width: 210px;
  max-width: 210px;
  margin-bottom: 15px;
  transition: 0.8s;
  color: var(--light);
  font-size: 16px;
  font-family: var(--font-family-text);
}
.categoryTop-container:hover {
  transform: scale(1.15);
}
#cat28:hover {
  background-color: #84d2c5;
  color: var(--primary);
  border: 4px solid var(--secondary-dark);
}
#cat35:hover {
  background-color: #e4c988;
  color: var(--primary);
  border: 4px solid var(--secondary-dark);
}
#cat18:hover {
  background-color: #c27664;
  color: var(--primary);
  border: 4px solid var(--secondary-dark);
}
#cat10749:hover {
  background-color: #b05a7a;
  color: var(--primary);
  border: 4px solid var(--secondary-dark);
}
#cat16:hover {
  background-color: #aacb73;
  color: var(--primary);
  border: 4px solid var(--secondary-dark);
}
#cat99:hover {
  background-color: var(--secondary);
  color: var(--primary);
  border: 4px solid var(--secondary-dark);
}

.selected-category {
  /* transform: scale(1.05); */
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
}
.selected-category h3 {
  font-weight: bolder;
  color: var(--secondary);
}
.selected-category:hover {
  border: 2px solid var(--light);
}
.selected-category h3:hover {
  color: var(--light);
}

.categoryTop-container:hover h3 {
  color: var(--secondary-dark);
}

/* Categories */
.categoriesPreview-container {
  margin-top: 90px;
  height: 80px;
}

.category-container {
  border-radius: 15px;
  background-color: var(--primary-light);
  margin-right: 20px;
  padding: 3px 20px;
  transition-duration: 400ms;
}
.category-container:hover {
  border-radius: 15px;
  background-color: var(--secondary);
  margin-right: 20px;
  padding: 3px 20px;
}
.category-container:focus {
  border-radius: 15px;
  background-color: var(--secondary);
  margin-right: 20px;
  padding: 3px 20px;
}

.category-title {
  margin-bottom: 2px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Generic List (search, trending & category) */
.genericList-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 32px 24px;
}

.genericList-container .movie-container {
  display: inline-block;
  width: 47.5%;
  max-width: 150px;
  min-height: 180px;
  max-height: 225px;
  border-radius: 8px;
  margin-bottom: 40px;
  transition: 0.4s;
  box-shadow: 5px 10px 20px #040507;
}

.genericList-container .movie-img {
  width: 100%;
}

/* Movie Poster */

.poster-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70%;
  background-image: url("https://pics.filmaffinity.com/Deadpool-777527803-large.jpg");
  /* background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.35) 19.27%,
      rgba(0, 0, 0, 0) 29.17%
    ),
    url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg); */
  background-size: cover !important;
}

.main-poster--blur {
  height: 100%;
  width: 100%;
  background: #36394551;
  backdrop-filter: blur(15px);
}

/* Movie Detail */
.movieDetail-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 32px 24px;
  margin-top: 553px;
  z-index: 1;
  position: relative;
  background-color: var(--primary);
}
.movieDetail-content {
  width: 100%;
  max-width: 1100px;
}

.movieDetail-main-poster {
  position: absolute;
  right: 0;
  left: 0;
  top: -467px;
  margin: 0 auto;
  border-radius: 16px;
  width: 300px;
  height: 450px;
  background-image: url("https://pics.filmaffinity.com/Deadpool-777527803-large.jpg");
  background-size: cover !important;
}

.movieDetail-title {
  display: inline-block;
  width: 80%;
  margin: 0 0 16px 0;
  padding: 0;
}

.movieDetail-score {
  display: inline-block;
  text-align: right;
  width: 18%;
  font-weight: var(--font-weight-title2);
}
.movieDetail-score::before {
  content: "★";
  color: var(--yellow);
  padding-right: 4px;
}

.movieDetail-provider {
  height: 40px;
  display: flex;
  margin-bottom: 20px;
  color: var(--primary-light-2);
}

.streaming-btn {
  width: 40px;
  border-radius: 8px;
  margin-right: 20px;
  background-size: 40px;
  transition: 0.3s;
}
.streaming-btn:hover {
  transform: scale(1.1);
}

.movieDetail-description {
  margin: 0 0 24px 0;
}

.relatedMovies-container {
  margin-top: 24px;
  height: 216px;
  overflow: hidden;
}

.relatedMovies-title {
  margin-bottom: 16px;
}

.relatedMovies-scrollContainer {
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 95%;
  max-width: 1100px;
  padding-bottom: 16px;
}

.relatedMovies-scrollContainer::-webkit-scrollbar {
  display: none;
}

.relatedMovies-scrollContainer .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.relatedMovies-scrollContainer .movie-img {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}

/* Footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  border-top: solid 1px var(--light-primary);
  font-size: 16px;
  background-color: var(--secondary-dark);
  color: var(--light);
  text-align: center;
}

footer a {
  color: var(--secondary);
}

.legend {
  padding-right: 50px;
  justify-self: right;
}

.footer_social-media {
  justify-self: left;
  padding-left: 50px;
  border-left: 1px solid var(--secondary);
}

.footer_social-media .icon {
  position: relative;
  background-color: var(--secondary);
  border-radius: 30%;
  margin: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.footer_social-media .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: var(--secondary);
  color: var(--secondary);
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer_social-media .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: var(--secondary);
  bottom: -3px;
  left: 30%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer_social-media .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.footer_social-media .icon:hover span,
.footer_social-media .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.footer_social-media .facebook:hover,
.footer_social-media .facebook:hover .tooltip,
.footer_social-media .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.footer_social-media .twitter:hover,
.footer_social-media .twitter:hover .tooltip,
.footer_social-media .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.footer_social-media .instagram:hover,
.footer_social-media .instagram:hover .tooltip,
.footer_social-media .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
.footer_social-media .github:hover,
.footer_social-media .github:hover .tooltip,
.footer_social-media .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.footer_social-media .linkedin:hover,
.footer_social-media .linkedin:hover .tooltip,
.footer_social-media .linkedin:hover .tooltip::before {
  background-color: #0072b1;
  color: #ffffff;
}

/* Navigation */
.inactive {
  display: none;
}

/* Animations */
@keyframes loading-skeleton {
  0%,
  100% {
    opacity: 100%;
  }
  50% {
    opacity: 20%;
  }
}

@keyframes slide {
  0%,
  25%,
  100% {
    left: 5%;
  }

  30%,
  55% {
    left: -85%;
  }

  60%,
  85% {
    left: -175%;
  }
}

@keyframes movieData-opacity {
  0% {
    bottom: -100%;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@media (max-width: 760px) {
  .aside-background--show {
    display: block;
  }
  .aside-menu {
    display: grid;
  }
  .header-container {
    padding-right: 15%;
  }
  .header-burger {
    display: block;
  }
  .header-navbar {
    display: none;
  }
  .header-searchForm input {
    display: none;
    width: 60%;
  }
  .header-searchForm #searchBtn {
    display: none;

    margin-left: 25%;
  }
  .header-searchForm #openSearchBtn {
    display: block;
  }
  .header-searchForm {
    position: fixed;
    right: 5%;
  }
  .categoryTop-container--loading {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    width: 1800px;
    min-width: 180px;
    max-width: 180px;
  }
  .categoryTop-container {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    width: 160px;
    min-width: 160px;
    max-width: 160px;
  }
  .latestPreview-movieList .movie-container__wider {
    padding: 80px 50px;
  }
  .latestPreview-movieList .movie-container__wider .movie-details__wider {
    bottom: 40px;
  }
  .latestPreview-movieList .movie-container__wider h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .latestPreview-movieList .movie-container__wider .movie-btn_more {
    display: none;
  }
  footer {
    grid-template-columns: 1fr;
  }
  .legend {
    padding-inline: 20px;
    justify-self: center;
  }
  .footer_social-media {
    display: none;
  }
}
